<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>历史记录</title>
    {% load static %}
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>

<body>
{% include 'topmes.html' %}
<h2 class="text-info">历史记录</h2>
<br>

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#curve" data-toggle="tab">
            <button id='show_curve' class="btn  btn-lg active btn-danger">查看颜值曲线</button>
        </a>
    </li>

    <li>
        <a href="#table" data-toggle="tab">
            <button id="show_table" type="submit" class="btn btn-lg active btn-info" name="show_table">查看颜值数据</button>
        </a>
    </li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="curve">
        <div id="can1" style="width:800px;height:500px;"></div>
        <script type="text/javascript" src="{% static 'js/function_draw.js' %}"></script>
    </div>
    <div class="tab-pane fade" id="table">
        <div class="col-md-6 column" id="table_head">
            <table class="table" style="color: black">
                <thead>
                <tr>
                    <th>年龄</th>
                    <th>表情</th>
                    <th>性别</th>
                    <th>颜值</th>
                    <th>戴/不戴眼镜可能性</th>
                    <th>眼镜种类</th>
                    <th>日期时间</th>
                </tr>
                </thead>
                <tbody class="x-cate" id="test">
                </tbody>
            </table>
        </div>
        <script type="text/javascript" src="{% static 'js/function_table.js' %}"></script>
    </div>
</div>
</body>
</html>