<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %} " rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/login.js' %}"></script>
    <title>登录注册</title>
    <style type="text/css">
        body{
            background-image: url("{% static 'images/background.jpg' %}");
            background-repeat: repeat;
        }
    </style>
</head>

<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container" style="height: 40px; padding-top: 4px">
            <a class="brand" href="#" style="padding-left: 8px;">导航栏</a>
            <div class="nav-collapse navbar-inverse-collapse collapse" style="height: 0px;">
                <ul class="nav" style="font-family: serif;">
                    <li class="active"><a href="#" style="color: #9d9d9d">主页</a></li>
                    <li class="active"><a href="#" style="color: #9d9d9d">数据一览</a></li>
                    <li class="active"><a href="/app/help/" style="color: #9d9d9d">帮助</a></li>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle"
                           style="font-family: serif; height: 30px;width: 60px; background-color: black; color: #9d9d9d" ;
                           data-toggle="dropdown" href="#">
                            联系我们
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="color: black">请加入官方QQ群联系我们:</li>
                            <li>
                                <img src="{% static "images/developer.jpg" %}">
                            </li>
                        </ul>
                    </div>
                </ul>

                <!-- 靠右 -->
                <ul class="nav pull-right">

                    <li><a href="/app/login/"><span class="glyphicon glyphicon-log-in"></span> 登录/<span
                            class="glyphicon glyphicon-user"></span> 注册</a></li>

                </ul>
            </div><!-- /.nav-collapse -->
        </div>

    </div><!-- /navbar-inner -->
</div>


{# 位置 #}
<div id="myCarousel" class="carousel slide"
     style="position: fixed;left: 50px; top: 170px ; width: 50%; height: 70% ">

    <!---  轮播顺序 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="{% static 'images/1.png' %}">
        </div>
        <div class="item">
            <img src="{% static 'images/2.png' %}">
        </div>
        <div class="item">
            <img src="{% static 'images/3.png' %}">
        </div>
    </div>
    <script type="text/javascript">
        $('.carousel').carousel({
        interval: 1500  // 轮播时间
        });
    </script>

</div>


<div class="loginBox hover-up"
     style="position: fixed; right: 150px; top: 100px;">

    <div class="tab-menu">
        <ul>
            <li class="active">登录</li>
            <li>注册</li>
        </ul>
    </div>

    <!-- 登录注册页面 --->
    <div class="tab-con">
        <div>

            <!---  登录界面  -->
            <form action="/app/login/" method="post">

                {% csrf_token %}
                <input class="username" type="text" id="username" name="username" placeholder="请输入用户名" autocomplete="on"
                       maxlength="12" style="width: 215px">
                <br>
                <input class="password" type="password" id="password" name="password" placeholder="请输入密码"
                       autocomplete="on"
                       maxlength="12" style="width: 215px">
                <br>
                {{ userForm.captcha }}
                <br>
                <label style="color: red">{{ msg }}</label>
                <br>
                <button class="btn">登录</button>
                <br>
                <input style="width: auto ; padding-top: 5px" class="checkbox" type="checkbox" id="checkBox"
                       name="checkBox">十天免登录
            </form>
        </div>
        <div>

            <!---  注冊界面  -->
            <form method="post" action="/app/register/">
                {% csrf_token %}
                <input class="username" type="text" id="username1" name="username1" placeholder="请输入用户名"
                       style="width: 215px" onblur="usernameAjax()">
                <span id="checkUsername" style="color: red"></span>
                <br>
                <input class="password" type="password" id="password1" name="password1" placeholder="请输入密码"
                       style="width: 215px">
                <br>
                <input class="password" type="password" id="passwordAgain" name="password1" placeholder="确认密码"
                       style="width: 215px"
                       onblur="checkPwd()">
                <span id="pwdSpan"></span>
                <br>
                <label id="msgRegister" style="display: none">{{ registerMsg }}</label>
                <br>
                <button class="btn" id="btnSub" type="submit" disabled="disabled">注册</button>
            </form>
        </div>
    </div>

</div>